@media only screen and (max-width: 991px) {

    .shared_btn {
        font-size: 11px;
    }

    .section_bar {
        padding: 0px 20px;
    }

    .top_bar .f-16 {
        font-size: 9px;
        line-height: 20px;
    }

    .top_bar .f-14 {
        font-size: 12px;
        line-height: 19px;
    }

    .custom-header,
    .header_wrapper {
        width: 100%;
        justify-content: space-between;
    }

    :where(.css-dev-only-do-not-override-dbp7pc).ant-drawer .ant-drawer-section {
        background: black;
    }

    :where(.css-dev-only-do-not-override-dbp7pc).ant-drawer .ant-drawer-close:hover {
        color: white !important;
        background-color: transparent;
    }

    :where(.css-dev-only-do-not-override-dbp7pc).ant-drawer .ant-drawer-close:hover {
        color: white !important;
    }

    .banner_sec .slick-slide img {
        display: block;
        height: 100%;
        max-height: 250px;
        min-height: 250px;
    }


    .banner_sec .slider_btn {
        width: 150px;
        font-size: 12px;
        padding: 9px;
        bottom: 15px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .slot-card:hover {
        padding: 15px 15px 0;
    }

    .slot-card .slot-content h2 {
        font-size: 15px;
        padding: 0px 4px 5px;

    }

    .f-14 {
        font-size: 12px;
        line-height: 20px;
    }

    .promotion_sec .card .timer_wrapper h3 {
        padding-right: 20px;
        font-size: 12px;
    }

    .promotion_sec .time p {
        font-size: 14px;
        line-height: 20px;
    }

    .promotion_sec .time small {
        font-size: 8px;
    }

    .promotion_sec .timer-box {
        display: flex;
        gap: 10px;
    }

    .winner_sec .image_wrapper .img {
        width: 100%;
        height: 120px;
    }

    .winner_sec .slider_padding,
    .winner_sec .column_padding {
        padding: 0;
    }

    .winner_sec .image_wrapper .upperText span,
    .winner_sec .image_wrapper .bottomText span {
        font-size: 11px;
    }

    .section_bar h2 {
        font-size: 16px;
        line-height: 26px;
    }

    .f-15 {
        font-size: 12px;
    }

    .footer_sec ul {
        padding: 0;
    }

    .footer_sec .download_wrapper .download p {
        width: 100%;
    }

    .footer_sec .download_wrapper {
        padding-bottom: 110px;
    }

    .tabs_sec .ant-tabs-extra-content {
        display: none;
    }
}