@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: black;
}


ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111111;
}

a {
    text-decoration: none;
}

.captilized {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.rotate-img {
    transform: scaleX(-1);
}

.oswald {
    font-family: "Oswald", sans-serif;
}

.text-gray {
    color: #969696;
}

/* Font Weight */

.f200 {
    font-weight: 200;
}

.f300 {
    font-weight: 300;
}

.f400 {
    font-weight: 400;
}

.f500 {
    font-weight: 500;
}

.f600 {
    font-weight: 600;
}

.f700 {
    font-weight: 700;
}

.f800 {
    font-weight: 800;
}

.f900 {
    font-weight: 900;
}

/* Fonts Size */

.f-60 {
    font-size: 60px;
    line-height: 70px;
}

.f-53 {
    font-size: 53px;
    line-height: 67px;
}

.f-50 {
    font-size: 50px;
    line-height: 60px;
}

.f-45 {
    font-size: 45px;
    line-height: 55px;
}

.f-40 {
    font-size: 40px;
    line-height: 52px;
}

.f-35 {
    font-size: 35px;
    line-height: 45px;
}

.f-32 {
    font-size: 32px;
    line-height: 42px;
}

.f-28 {
    font-size: 28px;
    line-height: 38px;
}

.f-26 {
    font-size: 26px;
    line-height: 36px;
}

.f-24 {
    font-size: 24px;
    line-height: 34px;
}

.f-22 {
    font-size: 22px;
    line-height: 32px;
}

.f-20 {
    font-size: 20px;
    line-height: 30px;
}

.f-18 {
    font-size: 18px;
    line-height: 28px;
}

.f-16 {
    font-size: 16px;
    line-height: 25px;
}

.f-14 {
    font-size: 14px;
    line-height: 24px;
}

.f-10 {
    font-size: 10px;
    line-height: 20px;
}

.f-12 {
    font-size: 12px;
    line-height: 18px;
}

/* Buttons Start */

.playBtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 5px 15px;
    border-radius: 20px;
    background-image: linear-gradient(315deg, #c44e00, #f60 50%);
    cursor: pointer;
}

.playBtn a img {
    width: 30px;
    height: 20px;
    padding-right: 10px;
}

.text-yellow {
    color: #a83c1c;
}

.bordered_btn {
    background-color: #00000040;
    border: 2px solid #a83c1c;
}

.background_btn {
    background: #a83c1c;
    box-shadow: none;
    border-color: #7c2c15;
}

.shared_btn {
    position: relative;
    border-width: 1px;
    transition: background-color .25s, border-color .25s, opacity .25s, color .25s, box-shadow .25s;
    overflow: hidden;
    text-shadow: 1px 1px 1px #000;
    border-radius: 4px;
    color: #fff !important;
    display: inline-block;
    padding: 6px 8px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

/* Buttons End */

/* Top Bar Start */

.top_bar {
    background-image: url(../assets/images/topbar-bg.png);
    padding: 0px 0 10px;
}

.top_bar .img {
    width: 100px;
    height: 90px;
}

/* Top bar End */


.custom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #040b18;
    height: 60px;
    padding: 0 12px;
    position: relative;
}

/* Glow effect */
.left-menu .ant-menu-item-selected,
.left-menu .ant-menu-item:hover {
    color: #ffddc2 !important;
    text-shadow: 0px 0px 10px #ff8c4a;
}

/* Center Logo */
.logo img {
    width: 160px;
    height: 50px;
    margin-top: 5px;
    object-fit: contain;
}

/* Right side */
.right-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-btn {
    background: transparent !important;
    border: 1px solid #ff6a3b !important;
    color: white;
    font-weight: bold;
}

.register-btn {
    background: #ff6a3b !important;
    color: white !important;
    font-weight: bold;
    border: none;
}

.lang-icon {
    font-size: 18px;
    cursor: pointer;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after {
    border-bottom-width: inherit;
    border-bottom-color: inherit;
}

/* Mobile Menu Button */
.mobile-menu-btn {
    display: none;
    color: white;
    border: none;
    background: transparent;
    font-size: 22px;
}

/* Banner Sec Start */


.banner_sec {
    position: relative;
}

.banner_sec .slick-prev {
    left: 30px;
}

.banner_sec .slick-next {
    right: 30px;
    transform: rotate(140deg);
}

.banner_sec .slick-prev:before,
.banner_sec .slick-next:before {
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    border: 5px solid #fff;
    border-right: none;
    border-bottom: none;
    width: 25px;
    height: 25px;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}


/* REMOVE ANT DESIGN DEFAULT PADDING */
.sky-login-modal .ant-modal-content {
    background: transparent;
    box-shadow: none;
}

.ant-modal-container {
    background-color: transparent !important;
    padding: 0 !important;
}


.learnMoreModal {
    max-height: 650px;
    overflow-y: scroll;
}

/* MAIN BOX */
.sky-login-wrapper {
    background: #0b0f14;
    border-radius: 8px;
    padding: 28px 30px 30px;
    position: relative;
    border: 1px solid #1e293b;
}

/* CLOSE BUTTON */
.sky-close {
    position: absolute;
    right: 14px;
    top: 12px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

/* TITLE */
.sky-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 22px;
    text-align: center;
}

/* INPUTS */
.sky-input {
    background-color: rgba(189, 189, 189, 0.05);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 0.25);
    border-image: initial;
    box-shadow: transparent 0px 0px 5px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.42857;
    height: 36px;
    color: rgba(255, 255, 255, 0.9);
    padding: 6px 12px;
    transition: 0.25s ease-in-out, box-shadow 0.5s;
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.sky-input::placeholder {
    color: rgba(134, 134, 134, 0.686);
    font-weight: 500;
}

/* LOGIN BUTTON (ORANGE IMAGE COLOR) */
.sky-login-btn {
    box-shadow: none;
    background: rgb(168, 60, 28);
    border-color: rgb(124, 44, 21);
    position: relative;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
    color: rgb(255, 255, 255) !important;
    border-width: 1px;
    transition: background-color 0.25s, border-color 0.25s, opacity 0.25s, color 0.25s, box-shadow 0.25s;
    overflow: hidden;
    border-radius: 4px;
    display: block !important;
    width: 100%;
    padding: 6px 8px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}

/* FORGOT */
.sky-forgot {
    /*
    text-align: center;
    margin: 12px 0 18px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer; */
    font-weight: 700;
    position: relative;
    transition: text-shadow 0.2s, color 0.2s;
    color: rgb(255, 255, 255);
    font-size: 15px;
    white-space: nowrap;
    text-decoration: underline;
    margin: 12px 0 40px;
    display: block;
    text-align: center;
}

.sky-forgot:hover {
    text-shadow: rgb(221, 90, 51) 0px 0px 8px, rgb(247, 214, 204) 0px 0px 4px, rgb(255, 255, 255) 0px 0px 2px;
    color: white;
}


/* REGISTER BUTTON */
.sky-register-btn {
    box-shadow: rgb(168, 60, 28) 0px 0px 5px !important;
    border-color: rgb(190, 68, 32);
    background-color: rgba(0, 0, 0, 0.25);
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    position: relative;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
    color: rgb(255, 255, 255) !important;
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    padding: 6px 8px;
    margin-bottom: 15px;
}

.sky-register-wrapper .label {
    margin-bottom: 5px;
    font-size: 16px;
}

/* TRY GAMES */
.sky-try-btn {
    box-shadow: rgb(168, 60, 28) 0px 0px 5px !important;
    border-color: rgb(190, 68, 32);
    background-color: rgba(0, 0, 0, 0.25);
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    position: relative;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
    color: rgb(255, 255, 255) !important;
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    padding: 6px 8px;
}


.sky-register-wrapper {
    background: linear-gradient(180deg, #0a0f14, #04070b);
    border: 1px solid #1f2937;
    border-radius: 6px;
    padding: 22px 24px 20px;
    color: #fff;
    position: relative;
    max-height: 600px;
    overflow-y: scroll;
}

.title {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 18px;
}

.register-layout {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 18px;
}

.sky-register-wrapper input,
.sky-register-wrapper select {
    height: 40px;
    background: rgba(189, 189, 189, 0.05);
    border: 2px solid rgba(204, 204, 204, 0.25);
    border-radius: 4px;
    padding: 0 12px;
    color: #fff;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
}

::placeholder {
    color: #6b7280;
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.phone {
    grid-template-columns: 70px 1fr;
}

select.country {
    border-color: #22c55e;
    box-shadow: 0 0 0 1px rgba(34, 197, 94, .4);
}

.sky-register-wrapper {
    background: linear-gradient(180deg, #0a0f14, #04070b);
    border: 1px solid #1f2937;
    border-radius: 6px;
    padding: 22px 24px 20px;
    color: #fff;
    position: relative;
}

.sky-register-wrapper {
    background: linear-gradient(180deg, #0a0f14, #04070b);
    border: 1px solid #1f2937;
    border-radius: 6px;
    padding: 22px 24px 20px;
    color: #fff;
    position: relative;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 600;
}

.checkbox input {
    width: 15px;
    height: 15px;
    accent-color: #e5e7eb;
    margin-bottom: 0;
}

.create-account-btn {
    margin-top: 14px;
    height: 44px;
    background: #b24a1c;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
}

.bottom-links {
    margin-top: 16px;
    text-align: center;
}

.bottom-links a {
    display: block;
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 6px;
}



/* Header End */
/* Banner Start */
.banner_sec .slide {
    position: relative;
}

.banner_sec .slider_btn {
    width: 230px;
    font-size: 20px;
    float: right;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px #00000078;
    background: #a83c1c;
    border-color: #7c2c15;
    border-width: 1px;
    transition: background-color .25s, border-color .25s, opacity .25s, color .25s, box-shadow .25s;
    overflow: hidden;
    text-shadow: 1px 1px 1px #000;
    border-radius: 4px;
    position: absolute;
    bottom: 30px;
    right: 40px;
}

/* Banner Sec End */

/* Tabs Start */

.tabs_sec .ant-tabs>.ant-tabs-nav {
    background: linear-gradient(180deg, #a83c1c, #730f19);
    padding: 0px 30px;
    margin-bottom: 0px;
    border-radius: 5px;
    position: sticky;
    top: 10px;
    z-index: 99;
}

.tabs_sec .ant-tabs .ant-tabs-content-holder {
    box-shadow: inset 0 0 20px #a83c1cbf;
    padding: 20px;
    padding-top: 0;
    margin-top: 20px;
}

.tabs_sec .ant-tabs .ant-tabs-tab+.ant-tabs-tab {
    margin: 0 0 0 20px;
}

.tabs_sec .ant-tabs-top>.ant-tabs-nav::before {
    border-bottom: 0;
}

.tabs_sec .ant-tabs .ant-tabs-ink-bar {
    background: transparent;
}

.tabs_sec .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white;
    text-shadow: 0 0 8px rgb(221.0714285714, 90.2040816327, 51.4285714286), 0 0 4px rgb(246.5714285714, 214.0612244898, 204.4285714286), 0 0 2px #fff;
}


.tabs_sec .ant-tabs .ant-tabs-tab:hover {
    text-shadow: 0 0 8px rgb(221.0714285714, 90.2040816327, 51.4285714286), 0 0 4px rgb(246.5714285714, 214.0612244898, 204.4285714286), 0 0 2px #fff;
}

.tabs_sec .ant-tabs .ant-tabs-tab .ant-tabs-tab-btn {
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.slot_card_wrapper {
    position: relative;
    height: 100%;
}

.slot-card {
    cursor: pointer;
    background: white;
    transition: all 0.4s ease-in-out;
    margin-top: 20px;
}

.slot-card:hover {
    /* height: 100%; */
    padding: 20px 20px 0;
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
    transform: scale(1.05) translateZ(0px);
    box-shadow: 0 0 30px #000;
    position: absolute;
    top: 0;
    left: 0;
    /* height: auto;
    width: 100%; */
    z-index: 3;
}

/* DEFAULT: ONLY OUTER IMAGE SHOWS */
.slot-img {
    width: 100%;
    /* object-fit: contain; */
}

/* HIDDEN CONTENT BOX */
.slot-content {
    /* height: 100%; */
    text-align: center;
    padding: 15px 0 0;
    transition: 0.4s ease;
    display: none;
}

.slot-card:hover .slot-content {
    display: block;
}

/* INNER IMAGE SAME AS REFERENCE */
.slot-inner-img {
    width: 100%;
    border-radius: 10px;
}

.slot-card .slot-content h2 {
    color: #a83c1c;
    display: block;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px 10px;
    margin-bottom: 0;
}

.slot-card .slot-content h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.slot-card .wrapper {
    /* display: inline-block; */
    /* width: 50%; */
    /* float: left; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0;
    padding: 5px 2px;
    box-sizing: inherit;
}

.slot-card .wrapper .info {
    width: 49%;
    font-size: 0;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5px;
}

/* Text Styling */

.login-msg {
    margin-top: 10px;
    font-size: 12px;
    color: #777;
}

/* Tabs End */

/* Section Bar Start */

.section_bar {
    background: linear-gradient(180deg, #a83c1c, #730f19);
    padding: 0px 30px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.section_bar h2 {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 8px rgb(221.0714285714, 90.2040816327, 51.4285714286), 0 0 4px rgb(246.5714285714, 214.0612244898, 204.4285714286), 0 0 2px #fff;
}

/* Section Bar End */

/* Promotion Start */

.promotion_sec .card_wrapper {
    box-shadow: inset 0 0 20px #a83c1cbf;
    padding: 20px;
    padding-top: 0;
    margin-top: 20px;
}

.promotion_sec .card {
    position: relative;
    background: transparent;
    margin-top: 20px;

}

.promotion_sec .card .timer_wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none !important;
    font-family: open sans;
    font-size: 2vw;
    padding: 10px 1.75vw;
    background-color: #b9421fcc;
    border-radius: 5px;
}

.promotion_sec .card .timer_wrapper h3 {
    padding-right: 30px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-bottom: 0;
}

.promotion_sec .timer-box {
    display: flex;
    gap: 18px;
}

.promotion_sec .time {
    display: flex;
    flex-direction: column;
}

.promotion_sec .time p {
    font-size: 26px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 0;
    color: white;
    text-align: center;
}

.promotion_sec .time small {
    font-size: 12px;
    /* opacity: 0.85; */
    color: white;
}

.promotion_sec .card .img {
    position: relative;
}

.promotion_sec .card .overlay {
    background-color: #000000b3;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

/* Promotion End */

/* Winner Start */


.winner_sec .slider_padding {
    padding: "0 13px 0 0px"
}

.winner_sec .column_padding {
    padding: "0 0 0 13px"
}


.winner_sec .slider_wrapper {
    box-shadow: inset 0 0 20px #a83c1cbf;
    padding: 20px;
    /* padding-top: 0; */
    margin-top: 20px;
}

.winner_sec .image_wrapper {
    position: relative;
    border: 2px solid rgb(211.7142857143, 75.612244898, 35.2857142857);
    box-shadow: 0 0 15px #a01523;
    overflow: hidden;
}

.winner_sec .image_wrapper .img {
    width: 100%;
    height: 160px;
}

.winner_sec .image_wrapper .upperText,
.winner_sec .image_wrapper .bottomText {
    background-color: #000c;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.winner_sec .image_wrapper .upperText {
    top: 0;
}

.winner_sec .image_wrapper .bottomText {
    bottom: 0;
}

.winner_sec .image_wrapper .upperText .icon {
    color: #ffc000;
    font-size: 22px;
    text-shadow: 0 0 3px #ffc000;
    margin-right: 10px;
}

.winner_sec .image_wrapper .upperText span,
.winner_sec .image_wrapper .bottomText span {
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 5px rgb(160.1153846154, 20.8846153846, 34.8076923077);
}

/* Winner End */

/* Footer Start */

.footer_sec {
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, .15);
    background-color: #0006;
}

.footer_sec .top_pages {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.footer_sec .secure_wrapper {
    padding: 25px 0;
    flex-wrap: wrap;
    border-top: 1px solid rgba(255, 255, 255, .15);
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.footer_sec .payment {
    padding: 25px 0;
    flex-wrap: wrap;
    border-top: 1px solid rgba(255, 255, 255, .15);
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.footer_sec .partners {
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
    flex-wrap: wrap;
    border-top: 1px solid rgba(255, 255, 255, .15);
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.footer_sec .download_wrapper {
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, .15);
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.footer_sec ul li a {
    position: relative;
}

.footer_sec ul li a::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: white;
}

.footer_sec .download_wrapper .download p {
    width: 60%;
    margin: 0 auto 15px;
}

/* Footer End */

/* Bottom Bar Start*/

.bottom_bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(180deg, #a83c1c, #730f19);
    border-top: 1px solid rgba(0, 0, 0, .4588235294);
    position: fixed;
    z-index: 1050;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
}

.bottom_bar .gred_bg {
    position: relative;
    padding-right: 22px;
    cursor: pointer;
}

.bottom_bar .gred_bg::after {
    position: absolute;
    display: block;
    content: "";
    width: 2px;
    height: 40px;
    right: -4px;
    top: 0;
    background-color: #a83c1c;
    box-shadow: 1px 1px #730f19;
}

.bottom_bar .gred_bg:last-child::after {
    content: inherit;
}

/* Bottom Bar End */

/* Overview Start */

.tabs_bar .tabs_wrapper {
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
    padding: 4px;
    background: rgb(72, 26, 74);
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px;
    gap: 4px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 8px;
}

.sports_tabs {
    display: grid;
    padding: 2px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 8px;
    background: rgb(72, 26, 74);
    margin-top: 10px;
}

.tabs_bar .live_btn {
    cursor: pointer;
}

.tabs_bar .home_btn {
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 12px;
    border-width: 0px;
    border-style: solid;
    border-radius: 4px;
    margin: 0px;
    background: rgb(148, 61, 154);
    border-color: rgba(255, 255, 255, 0);
    width: 100%;
}

.active_btn {
    cursor: pointer;
    touch-action: manipulation;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 12px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: rgb(255, 255, 255);
    background: rgb(148, 61, 154);
    text-shadow: rgba(13, 13, 13, 0) 0px 0px 0px;
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px, rgba(13, 13, 13, 0) 0px 0px 0px 0px inset;
    border-width: 0px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgba(255, 255, 255, 0);
}

.leadue_tabs .ant-tabs-top>.ant-tabs-nav::before {
    border-bottom: 0 !important;
}

.league_tabs {
    overflow: hidden;
    background: rgb(72, 26, 74);
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 8px;
}

/* Header */
.league_tabs .tabs-header {
    position: relative;
    padding: 12px;
    cursor: pointer;
    background: rgb(113, 51, 143);
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px inset;
    text-shadow: rgba(13, 13, 13, 0) 0px 0px 0px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
}

.league_tabs .ant-tabs-nav {
    margin-bottom: 0;
}

.league_tabs .ant-tabs .ant-tabs-tab {
    padding: 0;
}

.league_tabs .ant-tabs-nav::before {
    border-bottom: none;
}

.league_tabs .ant-tabs .ant-tabs-tab .ant-tabs-tab-btn {
    font-size: 14px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.3);
}

.league_tabs .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white;
}

.league_tabs .ant-tabs-top>.ant-tabs-nav .ant-tabs-ink-bar-animated {
    display: none;
}

/* Dropdown icon */
.dropdown-icon {
    position: absolute;
    right: 10px;
    top: 14px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.dropdown-icon.rotate {
    transform: rotate(180deg);
}

/* Content */
.dropdown-content {
    padding: 8px;
}

.league_tabs .league-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    color: rgba(255, 255, 255, 0.87);
    background: rgb(105, 41, 110);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    border: none;
    margin-bottom: 2px;
}

.league_tabs .league-item:hover {
    color: rgb(255, 255, 255);
    background: rgb(148, 61, 154);
}

/* Menu Side Bar */

.menu_wrapper {
    overflow: hidden;
    background: rgb(72, 26, 74);
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 8px;
}

.menu_wrapper .txt {
    display: grid;
    grid-template-columns: auto max-content;
    -webkit-box-align: center;
    align-items: center;
    cursor: auto;
    pointer-events: none;
    padding: 12px;
    background: rgb(113, 51, 143);
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px inset;
    color: rgb(255, 255, 255);
    text-shadow: rgba(13, 13, 13, 0) 0px 0px 0px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
}

.menu_wrapper .ant-list-items {
    display: grid;
    overflow: auto;
    row-gap: 1px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 4px;
}

.menu_wrapper .league-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding: 12px; */
    color: rgba(255, 255, 255, 0.87);
    background: rgb(105, 41, 110);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    border: none;
}

.league-icon {
    margin-right: 10px;
}

.menu_wrapper .live_btn {
    white-space: nowrap;
    padding: 2px 4px;
    background: rgb(251, 51, 51);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-width: 0px;
    border-color: rgb(251, 51, 51);
    border-style: solid;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
}

.menu_wrapper .number_span {
    text-align: center;
    width: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.54);
    margin-left: 10px;
}

.menu_wrapper .innerdropdown_btn {
    background: transparent;
    border: 0;
    margin-left: 7px;
}

.menu_wrapper .league-dropdown {
    width: 100%;
    /* margin-top: 20px; */
    padding: 0;
}

.menu_wrapper .league-dropdown li {
    padding: 12px;
    color: rgba(255, 255, 255, 0.87);
    background: rgb(46, 13, 64);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1px;
}

.menu_wrapper .league-dropdown .format_list {
    grid-template-columns: auto max-content;
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 12px;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding: 12px 10px;
    color: rgba(255, 255, 255, 0.87);
    background: rgb(105, 41, 110);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 8px;
}

.menu_wrapper .league-dropdown .format_list:hover {
    background: rgb(148, 61, 154);
}

.menu_wrapper .custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.menu_wrapper .custom-checkbox input {
    display: none;
}

.menu_wrapper .custom-checkbox .checkmark {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: 2px solid #9b59b6;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.menu_wrapper .custom-checkbox input:checked+.checkmark {
    background: #9b59b6;
}

.menu_wrapper .custom-checkbox input:checked+.checkmark::after {
    content: "";
    width: 8px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
}

/* Side Bar Search */

.search_wrapper {
    display: grid;
    row-gap: 6px;
}

.search_wrapper .inp_wrapper {
    position: relative;
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px inset;
    border-radius: 8px;
}

.search_wrapper .inp_wrapper input {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    margin: 0px;
    appearance: none;
    background: rgb(72, 26, 74);
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px inset;
    color: rgba(255, 255, 255, 0.54);
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 16px 12px 16px 0px;
    padding-inline: calc(48px) calc(30px);
}

.search_wrapper .inp_wrapper input::placeholder {
    color: white;
    opacity: 0.6;
    letter-spacing: 0.3px;
}

.search_wrapper .inp_wrapper .icon {
    display: block;
    position: absolute;
    pointer-events: none;
    width: 16px;
    height: 100%;
    border-radius: 8px;
    border-right: none;
    padding: 0px 16px;
    background: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.87);
    border-start-end-radius: 0px;
    border-end-end-radius: 0px;
    top: 11px;
    left: 0px;
}

/* Streaming Start */

.streaming_wrapper {
    overflow: auto;
    background: rgb(105, 41, 110);
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 8px;
}

.streaming_wrapper .txt {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(113, 51, 143);
    color: rgb(255, 255, 255);
    text-align: left;
    text-shadow: rgba(13, 13, 13, 0) 0px 0px 0px;
    padding: 12px;
}

.streaming_wrapper .sports_slider .sport_box {
    cursor: pointer;
    touch-action: manipulation;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px;
    border-width: 0px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(166, 143, 177);
    background: rgb(72, 26, 74);
    text-shadow: rgba(13, 13, 13, 0) 0px 0px 0px;
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px, rgba(13, 13, 13, 0) 0px 0px 0px 0px inset;
    margin: 0px;
}

.streaming_wrapper .sports_slider .sport_box:hover {
    color: rgb(255, 255, 255);
    background: rgb(225, 8, 174);
    text-shadow: rgba(13, 13, 13, 0) 0px 0px 0px;
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px, rgba(13, 13, 13, 0) 0px 0px 0px 0px inset;
    border-width: 0px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(225, 8, 174);
}

.streaming_slider .slick-arrow {
    border-radius: 50px !important;
    width: 30px !important;
    height: 30px !important;
    top: 40px !important;
    background-color: rgba(72, 26, 74, 0.599) !important;
}

.sports_slider .slick-arrow {
    border-width: 0px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 6px;
    background: rgb(72, 26, 74);
    width: 40px;
    height: 40px;
    top: 20px;
    z-index: 999;
}

.sports_slider .slick-next {
    right: -9px;
}

.sports_slider .slick-prev {
    left: -10px;
}

.sports_slider .slick-prev:before {
    transform: rotate(-180deg);
}

.sports_slider .slick-next:before,
.sports_slider .slick-prev:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../assets/images/icons/right-angle.svg);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.sports_slider .slick-disabled {
    display: none !important;
}

.streaming_wrapper .video_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background: rgb(72, 26, 74);
    text-shadow: rgba(13, 13, 13, 0) 0px 0px 0px;
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px, rgba(13, 13, 13, 0) 0px 0px 0px 0px inset;
}

.streaming_wrapper .video_div .img img {
    opacity: 0.5;
}

.streaming_wrapper .video_div .video_txt p {
    font-size: 15px;
    color: white;
    text-align: center;
    opacity: 0.5;
}

/* Best Slip */

.slip_sec,
.popular_bets {
    overflow: auto;
    /* background: rgb(105, 41, 110); */
    background: rgb(72, 26, 74);
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 8px;
}

.slip_sec .txt,
.popular_bets .txt {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(113, 51, 143);
    color: rgb(255, 255, 255);
    text-align: left;
    text-shadow: rgba(13, 13, 13, 0) 0px 0px 0px;
    padding: 12px;
    position: relative;
}

.slip_sec .slip_wrapper {
    padding: 20px;
}

.slip_sec .slip_wrapper .img,
.slip_sec .slip_wrapper .slip_txt p {
    opacity: 0.5;
}

/* Populer Bets */

.popular_bets .sec_wrapper {
    padding: 10px;
}

.popular_bets .sec_wrapper .popular_box {
    cursor: pointer;
    padding: 12px;
    background: rgb(105, 41, 110);
    border-width: 0px;
    border-color: rgb(105, 41, 110);
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 5px;
}

.popular_bets .sec_wrapper .popular_box:hover {
    background: rgb(148, 61, 154);
    border-color: rgba(255, 255, 255, 0);
}

/* Match Sec */

.match_sec .match_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr max-content;
    height: 100%;
    box-sizing: border-box;
    gap: 10px;
    padding: 12px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 8px;
    /* width: 400px; */
    background: rgb(255, 255, 255);
}

.match_sec .match_box .top_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.match_sec .match_box .offer_txt {
    white-space: nowrap;
    pointer-events: all;
    padding: 1px 4px;
    border-width: 1px;
    border-color: rgb(156, 28, 218);
    border-style: solid;
    border-radius: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    color: rgb(255, 255, 255);
    text-align: left;
    text-transform: uppercase;
    background: rgb(156, 28, 218);
}

.match_sec .match_box .live_txt {
    white-space: nowrap;
    padding: 1px 4px;
    background: rgb(251, 51, 51);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-width: 0px;
    border-color: rgb(251, 51, 51);
    border-style: solid;
    border-radius: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
}

.match_sec .match_box .match_time {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    color: rgba(54, 13, 69, 0.54);
}

.match_sec .match_box .dott {
    color: rgba(54, 13, 69, 0.54);
}

.match_sec .match_box .league_name {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    color: rgba(54, 13, 69, 0.54);
    text-align: left;
}

.match_sec .match_box .bottom_wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    gap: 4px;
    margin-top: 10px;
}

.match_sec .match_box .bottom_wrapper .merket_box {
    text-align: start;
    touch-action: manipulation;
    user-select: none;
    overflow: hidden;
    position: relative;
    padding: 5px 10px;
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px, rgba(13, 13, 13, 0) 0px 0px 0px 0px inset;
    background: rgb(72, 26, 74);
    color: rgb(255, 255, 255);
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.match_sec .slick-prev {
    left: -10px;
}

.match_sec .slick-next {
    right: -15px;
}

.match_sec .slick-prev,
.match_sec .slick-next {
    width: 40px;
    height: 40px;
    z-index: 99;
}

.match_sec .slick-prev:before,
.match_sec .slick-next:before {
    font-size: 40px;
}

.match_sec .slick-prev:hover:before,
.match_sec .slick-next:hover:before {
    color: rgb(156, 28, 218);
}

/* Sports Slider */

.sports_sec {
    background: rgb(72, 26, 74);
    padding: 8px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 12px;
}

.sports_sec .slide_box {
    display: grid;
    justify-items: center;
    justify-content: space-around;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 12px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0.54);
    border-style: solid;
    border-radius: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.87);
    background: rgb(105, 41, 110);
    gap: 8px;
    margin: 0px;
    text-align: center;
}

.sports_sec span {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sports_sec .sport_wrapper .slick-prev,
.sports_sec .sport_wrapper .slick-next {
    z-index: 99;
}

.sports_sec .sport_wrapper .slick-prev {
    left: 0px;
}

.sports_sec .sport_wrapper .slick-next {
    right: 0px;
}

/* Live Start */

.live_sec .ant-tabs-nav::before {
    border-bottom: inherit;
}

.live_sec .ant-tabs-nav-list {
    gap: 8px;
}

.live_sec .ant-tabs-top>.ant-tabs-nav .ant-tabs-ink-bar {
    display: none;
}

.live_sec .ant-tabs .ant-tabs-tab {
    padding: 0px 10px;
}

.live_sec .ant-tabs .ant-tabs-tab {
    cursor: pointer;
    touch-action: manipulation;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
    border-width: 0px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: rgb(166, 143, 177);
    background: rgba(166, 143, 177, 0.3);
    text-shadow: rgba(13, 13, 13, 0) 0px 0px 0px;
    box-shadow: rgba(13, 13, 13, 0) 0px 0px 0px 0px, rgba(13, 13, 13, 0) 0px 0px 0px 0px inset;
    gap: 8px;
    margin: 0px;
}

.live_sec .ant-tabs-tab.ant-tabs-tab-active {
    color: rgb(255, 255, 255) !important;
    background: rgb(225, 8, 174);
    border-color: rgb(225, 8, 174);
    font-weight: 700;
}

.live_sec .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white;
}

.live_sec .ant-tabs .ant-tabs-tab:hover {
    color: white;
}

/* Overview End */

/* Responsive */
@media (max-width: 900px) {
    .left-menu {
        display: none;
    }

    .right-actions {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }

    .logo img {
        margin: 0 auto;
    }
}